<!doctype html>
<html lang="<%= lang %>">
    <head>

        <title><%= title %></title>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" 
              content="IE=edge">
        <meta name="description" 
              content="<%= description %>">
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <meta property="og:type"            
              content="article">
        <meta property="og:locale"
              content="<%= lang %>">
        <meta property="og:title"
              content="<%= title %>">
        <meta property="og:image"
              content="https://www.worldofchess.online/images/trophies/trophy-<%= id %>.png">
        <meta property="og:description"
              content="<%= description %>">
        <meta property="og:url"
              content="https://www.worldofchess.online/<%= lang %>/trophy/<%= id %>">
        <meta property="fb:app_id"
              content="1687859708170830">

        <meta name="twitter:card"
              content="summary">
        <meta name="twitter:site"
              content="@WorldOfChess_">
        <meta name="twitter:title"
              content="<%= title %>">
        <meta name="twitter:description"
              content="<%= description %>">
        <meta name="twitter:image"
              content="https://www.worldofchess.online/images/trophies/trophy-<%= id %>.png">

        <meta name="theme-color" 
              content="#795548" />

        <link rel="alternate" hreflang="ar" href="https://www.worldofchess.online/ar/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="de" href="https://www.worldofchess.online/de/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="en" href="https://www.worldofchess.online/en/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="es" href="https://www.worldofchess.online/es/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="fr" href="https://www.worldofchess.online/fr/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="it" href="https://www.worldofchess.online/it/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="ja" href="https://www.worldofchess.online/ja/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="nl" href="https://www.worldofchess.online/nl/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="pt" href="https://www.worldofchess.online/pt/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="ru" href="https://www.worldofchess.online/ru/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="tr" href="https://www.worldofchess.online/tr/trophy/<%= id %>"/>
        <link rel="alternate" hreflang="zh" href="https://www.worldofchess.online/zh/trophy/<%= id %>"/>

        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="manifest" href="/manifest.json">

        <link href="/css/material/material.min.css" rel="stylesheet">
        <link href="/css/material/icon.css" rel="stylesheet" >
        <link href="/css/style.css" rel="stylesheet">
        <% if (lang === 'ar') { %>
            <link href="/css/style-ar.css" rel="stylesheet">
        <% } %>
        <link href="/css/views.css" rel="stylesheet">
    </head>
    <body>
        <div class="app-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="app-header mdl-layout__header">
                <div class="app-header__row mdl-layout__header-row">
                    <a href="/" class="app-title app-logo">
                        <span class="app-logo__icon"></span>
                        <span class="app-logo__text">
                            <%= text.name %>
                        </span>
                    </a>

                    <div class="app-header-spacer mdl-layout-spacer"></div>

                    <div class="app-navigation__container">
                        <nav class="app-navigation mdl-navigation">
                            <a class="app-navigation__link mdl-navigation__link mdl-typography--text-uppercase"
                                href="/">
                                <%= text.home %>
                            </a>
                            <a class="app-navigation__link mdl-navigation__link mdl-typography--text-uppercase"
                               href="/ranking/blitz">
                               <%= text.ranking %>
                            </a>  
                        </nav>
                    </div>
                </div>
            </header>

            <div class="app-content mdl-layout__content" autoscroll="true">
                <div class="app-grid mdl-grid">
                    <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col ng-scope">
                        <%- content %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>